<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {{input-location label="Partida" name="partida" required="true" productType="AIR"}}
        </div>

        <div class="col-sm-6">
            {{input-location label="Destino" name="destino" required="true" productType="AIR"}}
        </div>
    </div>

    {{select-rooms name="rooms"}}

    {{outlet}}
</div>
